@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="black"] {
    background-color: black;
    color: white;
  }
 
  [data-theme="corporate"]{
    background-color: #fdf1f8;
    color: #040f12;
  }